extends layout

block content
    script(src="/javascripts/wishlistFunc.js")

    h1 Hello #{user}
    h2 Upcoming events (wishlists atm)
        for wishlist in allWishlists
            div
                if wishlist.user === user
                    a(href='wishlist/#{wishlist._id}', class='mui-btn') open my wishlist
                else
                    a(href='wishlist/#{wishlist._id}', class='mui-btn') open wishlist of #{wishlist.user}


        div
            button(class='mui-btn', onclick="post('#{user}')") + create wishlist
