extends layout

block content
    link(href='/stylesheets/bla.css', rel='stylesheet')
    script(src="/javascripts/wishlistFunc.js")

    h2 Wishlist of #{user}
    for item in wishes
        div(class='mui-row')
            button(class='mui-btn', onclick="unfold('#{item.uuid}')") #{item.description}
            div(class='toggle', data-visible='false', id="#{item.uuid}")
                for comment in item.comments
                    p #{comment.content}
                input(class='mui-input', value='', placeholder='add comment', name='comment')
                button(class='mui-btn', onclick="post('#{item.uuid}')") enter
    form(class='mui-form', action="#{formAction}", method='post')
        div(class='mui-row')
            div(class="mui-col-md-2", data-role='fieldcontain')
                input(class='mui-input', id='description', value='', placeholder='What me wanth?', name='description')
            div(class="mui-col-md-2", data-role='fieldcontain')
                input(class='mui-btn', type='submit', value='add', data-transition='fade', data-theme='c')
