extends layout

block content
    link(href='/stylesheets/toggle.css', rel='stylesheet')
    script(src="/javascripts/wishlistFunc.js")

    h2 Wishlist of #{user}
    for item in wishes
        div(class='mui-row')
            button(class='mui-btn', onclick="unfold('#{item.uuid}')") #{item.description}
            div(class='toggle', data-visible='false', id="#{item.uuid}")
                for comment in item.comments
                    p #{comment.content}
                input(class='mui-input', value='', placeholder='add comment', name='comment')
                button(class='mui-btn', onclick="postComment('#{item.uuid}')") enter
