extends layout

block content
    script(src="/javascripts/dashboardFunc.js")

    h1 Hello #{user}
    h2 mine
        if myWishlist
            div
                a(href='wishlist/#{myWishlist._id}', class='mui-btn') open my wishlist
        else
            div
                button(class='mui-btn', onclick="post('#{user}')") + create wishlist
    h2 others
        for wishlist in otherWishlists
            div
                a(href='wishlist/#{wishlist._id}', class='mui-btn') open wishlist of #{wishlist.user}



