extends layout

block content
    link(href='/stylesheets/toggle.css', rel='stylesheet')
    script(src="/javascripts/wishlistFunc.js")

    h2 Wishlist of #{wishlist.user}
    if wishlist.items.length === 0
        h2 This one is still empty :)
    else
        for item in wishlist.items
            div
                label
                    if item.checked
                        input(type="checkbox" id="check-#{item.uuid}", onchange="checkWish('#{item.uuid}', false)", checked="checked")
                    else
                        input(type="checkbox" id="check-#{item.uuid}", onchange="checkWish('#{item.uuid}', true)")
                    span(class='mui--text-display2' for="check-#{item.uuid}")
                span(class='mui--text-display2') #{item.description}
                button(class='mui-btn mui-btn--large mui-btn--raised', onclick="unfold('#{item.uuid}')") comments
                div(class='toggle', data-visible='false', id="#{item.uuid}")
                    for comment in item.comments
                        p #{comment.user}: #{comment.content}
                    input(class='mui-input', onkeyup="commentKeyupEvent('#{item.uuid}')" value='', placeholder="#{wishlist.user} won't see this", name='comment')
                    button(class='mui-btn mui-btn--large mui-btn--raised', onclick="postComment('#{item.uuid}')") enter
